Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
l = ["String",[1,2,4,3],2.4,(2,4,6)]

In [2]:
for x in l:
    print(type(x))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [3]:
var1 = ""
var2 = "[DS, ML, Python]"
var3 = [ 'DS' , "ML" , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:

(i) / 
(ii) % 
(iii) // 
(iv) **

In [4]:
a = 10
b = 5
print("a/b:",a/b)
print("a%b:",a%b)
print("a//b(floor division):",a//b)
print("a**b(10^5):",a**b)

a/b: 2.0
a%b: 0
a//b(floor division): 2
a**b(10^5): 100000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [5]:
list = [12,2,3,4,"data",3.4,5+4j,True,{1,2,3}]
for i in list:
    print(i)
    print(type(i))

12
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
data
<class 'str'>
3.4
<class 'float'>
(5+4j)
<class 'complex'>
True
<class 'bool'>
{1, 2, 3}
<class 'set'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
A = 20
B = 4
temp = A
count = 0
while A >= B:
    if A%B==0:
        count+=1
    A /= B
if count>0:
    print(f"{temp} is purely divisible by number {B}. {count} times")

20 is purely divisible by number 4. 1 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [2]:
l= [_ for _ in range(25)]    
for i in l :
    if i%3 == 0 :
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

 Q7. What do you understand about mutable and immutable data types? Give examples for both showing
 this property.

In [1]:
# Mutable datatype :- Mutable data types are those whose values can be changed after they are created.
# Example of Mutable datatypes are :- List, Dictionarie

In [3]:
list = [1, 2, 3]
list.append(4)  
list[1] = 5
print(list)

[1, 5, 3, 4]

In [2]:
# Immutable Data Types:- Immutable data types are those whose values cannot be changed after they are created. 
# Example of Immutable datatypes are :- String, Tuple

In [4]:
string = "Hello World"
string[4] = 'O'
# Giving Error because string is Immutable

TypeError: 'str' object does not support item assignment